@model IEnumerable<RentalKendaraan121.Models.Pengembalian>

@{
    ViewData["Title"] = "Index";
}

<h1>Data Pengembalian</h1>

<p>
    <a asp-action="Create"><i class="fa fa-plus fa-lg"></i> Tambah Data</a>
</p>
@using (Html.BeginForm("Index", "Pengembalians", FormMethod.Get))
{
    <p>
        Kondisi : @Html.DropDownList("ktsd", "Pilih Kondisi")
        Cari Data : @Html.TextBox("searchString")
        <input type="submit" value="Filter" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Tgl Pengembalian")
            </th>
            <th>
                @Html.DisplayName("Denda")
            </th>
            <th>
                @Html.DisplayName("Id Kondisi")
            </th>
            <th>
                @Html.DisplayName("Id Peminjaman")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TglPengembalian)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Denda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdKondisiNavigation.IdKondisi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPeminjamanNavigation.IdPeminjaman)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPemngembalian"><i class="fa fa-marker fa-lg"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.IdPemngembalian"><i class="fas fa-list"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.IdPemngembalian"><i class="fa fa-trash-alt fa-lg"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
